<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <div>
            <h3 class="underline">Submitted Info:</h3>
            <div class="inline-div">
                <p>Name: <%= Your_Name %></p>
                <p>Dojo Location: <%= Your_Location %></p>
                <p>Favorite Language:<%= Your_Fav_Lang %></p>
                <p>Email Address:<%= Your_email %></p>
                <p>Mobile Number:<%= Your_tel %></p>
                <p>Comment:<%= Your_comments %></p>
            </div>          
        </div>

   
    
</body>
</html>